"enable the entering of digraphs in Insert mode
set nodigraph
"the ":substitute" flag 'g' is default on
set nogdefault
"number of command-lines that are remembered
set history=20
"highlight matches with last search pattern
set hlsearch
"ignore case in search patterns
set ignorecase
"pairs of characters that "%" can match
set matchpairs=(:),{:},[:],<:>,（:）
"number formats recognized for CTRL-A command
set nrformats=hex
"print the line number in front of each line
set number
"show the line number relative to the line with the cursor
set norelativenumber
"lines to scroll with CTRL-U and CTRL-D
set scroll=0
"minimum number of lines to scroll
set scrolljump=1
"minimum nr. of lines above and below cursor
set scrolloff=0
"what type of selection to use
set selection=inclusive
"message on status line to show current mode
set showmode
"minimum number of columns to scroll horizontal
set sidescroll=1
"min. nr. of columns to left and right of cursor
set sidescrolloff=5
"no ignore case when pattern has uppercase
set smartcase
"maximum number of changes that can be undone
set undolevels
"use visual bell instead of beeping
set visualbell
"searches wrap around the end of the file
set wrapscan
"use incremental search
set incsearch
"use join via IDE
set ideajoin
"when to start Select mode instead of Visual mode
set selectmode=mouse,key,template,refactoring

set keymodel=startsel,stopsel

nnoremap Y y$
" jk で挿入モードを脱出
inoremap jk <ESC>
" 逆改行（コマンドラインでは使えないみたい）
" inoremap <S-CR> <Esc>O
" 選択したテキストを検索する
vnoremap X y/<C-R>"<CR>
" 最後に変更されたテキストを選択する
nnoremap gc  `[v`]
" 常に very magic を使う
nmap / /\v

"use easymotion
set easymotion
let g:EasyMotion_startofline = 0
map <Space> <Plug>(easymotion-s2)

"use surround
set surround

"use multiple-cursors
set multiple-cursors

"use commentary
set commentary

"use ReplaceWithRegister
set ReplaceWithRegister

"use argtextobj
set argtextobj

"use textobj-entire
set textobj-entire

"use highlightedyank
set highlightedyank

"use matchit
set matchit
